.App {
  text-align: center;
}

.App-header {
  background: hsla(194, 89%, 79%, 1);
  background: linear-gradient(0deg, hsla(194, 89%, 79%, 1) 0%, hsla(194, 100%, 38%, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F5D63C;
  font-family: Avro;
}

a {
  color: #F5D63C;
  margin-left: 5px;
  margin-right: 5px;
}

.link-wrapper {
  display: inline-block;
}